/* Colors and Styles */
:root {
  --primaryColor:hsl(199, 100%, 33%);
  --secondaryColor:hsl(187, 85%, 43%);
  --gradientColor:linear-gradient(to right, hsl(187, 100%, 33%), hsl(199, 100%, 33%));
  --whiteColor:hsl(0, 0%, 100%);
  --blackColor:hsl(201, 33%, 16%);
  --textColor:hsl(240, 4%, 36%);
  --whiteColorDeam:hsl(0, 0%, 93%);
  --greyText:rgb(190, 190, 190);
  --inputColor:rgb(239, 239, 239);
  --bodyColor:rgb(240, 240, 246);
  --cardBg:rgb(225, 225, 235);
  --cardHover:rgb(255, 255, 255);
}

.footer {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.footer .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: -440px;
}
.footer .videoDiv video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .videoDiv video::after {
  content: "";
  position: absolute;
  background: rgba(10, 84, 107, 0.307);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.footer .secContent {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  row-gap: 2rem;
  z-index: 100;
}
.footer .secContent .contactDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.footer .secContent .footerCard {
  position: relative;
  padding: 1rem 1rem 4rem;
  gap: 2rem;
  border-radius: 1rem;
  background: var(--bodyColor);
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}
.footer .secContent .footerCard .footerIntro {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}
.footer .secContent .footerCard .logoDiv .logo {
  color: var(--blackColor);
  font-weight: 600;
}
.footer .secContent .footerCard .logoDiv .logo .icon {
  font-size: 25px;
  color: var(--primaryColor);
  margin-right: 10px;
}
.footer .secContent .footerCard .footerParagraph {
  font-size: 13px;
  color: var(--textColor);
}
.footer .secContent .footerCard .footerSocials {
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.footer .secContent .footerCard .footerSocials .icon {
  color: var(--blackColor);
  font-size: 20px;
}
.footer .secContent .footerCard .footerSocials .iconhover {
  color: var(--primaryColor);
}
.footer .secContent .footerCard .footerLinks {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .secContent .footerCard .footerLinks .linkGroupe .groupeTitle {
  display: block;
  font-weight: 600;
  color: var(--blackColor);
  margin-bottom: 0.5rem;
}
.footer .secContent .footerCard .footerLinks .linkGroupe .footerList {
  font-size: 16px;
  color: var(--textColor);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.footer .secContent .footerCard .footerLinks .linkGroupe .footerList .icon {
  font-size: 16px;
  color: grey;
}
.footer .secContent .footerCard .footerLinks .linkGroupe .footerList:hover {
  color: var(--primaryColor);
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}
.footer .secContent .footerCard .footerLinks .linkGroupe .footerList:hover .icon {
  color: var(--secondaryColor);
}
.footer .secContent .text small {
  font-size: 13px;
  font-weight: 400;
  color: var(--whiteColor);
}
.footer .secContent .text h2 {
  color: var(--whiteColor);
  font-size: 1.8rem;
}
.footer .secContent .inputDiv {
  width: 100%;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .secContent .inputDiv input {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border-radius: 3rem;
  border: 1px solid var(--whiteColor);
  background: transparent;
  outline: none;
  color: var(--whiteColor);
}
.footer .secContent .inputDiv input::-webkit-input-placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.footer .secContent .inputDiv input::-moz-placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.footer .secContent .inputDiv input:-ms-input-placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.footer .secContent .inputDiv input::-ms-input-placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.footer .secContent .inputDiv input::placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.footer .secContent .inputDiv .btn {
  width: 100%;
  color: var(--blackColor);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
.footer .secContent .footerDiv {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  background: var(--secondaryColor);
  padding: 0.5rem 2rem;
}